# ----------------------------
# Environment / Secrets
# ----------------------------
.env
.env.*
!.env.example
.venv/

# ----------------------------
# Python
# ----------------------------
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/

# ----------------------------
# Logs
# ----------------------------
logs/
*.log

# ----------------------------
# Project Data
# ----------------------------
data/output/*
!data/output/.gitkeep

# ----------------------------
# Spark
# ----------------------------
spark-warehouse/
derby.log
metastore_db/

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db